{% extends 'store/base.html' %}

{% load static %}



{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Your Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">Something products to show</p>
            </div>
        </div>
    </header>
    
    {% if cart_products %}
    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-5">
            {% for pro in cart_products %} 

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{pro.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{pro.name}}</h5>
                      <br>
                      <div class="card-text">
                        {%for key,value in quantities.items %}
                            {% if key == pro.id|slugify %}
                                <input id="number{{pro.id}}" type="number" min="1" max="{{pro.in_stock}}" value="{{value}}"/>
                            {%endif%}
                        {%endfor%}
                      </div>
                      <br>
                      <button data-index='{{pro.id}}'class="btn btn-primary update-button">Update</button>
                      <button data-index='{{pro.id}}'class="btn btn-danger delete-button">Delete</button>

                      <br><br>
                    {% if pro.is_sale %}
                      <strike>
                        ${{pro.price}}
                      </strike>
                        &nbsp${{pro.sale_price}}
                    {% else %}
                       &nbsp${{pro.price}}
                    {% endif %}

                      
                    <p class="card-text"><small class="text-body-secondary">On stock: {{pro.in_stock}}</small></p>

                    </div>
                  </div>
                </div>
              </div>
        
              {% endfor %}
              
              <h3>Total: {{total}}</h3>
        </div>
    </div>
    
    
    {% else %}
        There's no products to show
    {% endif %}
    <br><br><br><br><br>
    <script>
      // Delete button
      $(document).on('click', '.delete-button', function(e){
    e.preventDefault();
    let producid = $(this).data('index')
    $.ajax({
      type: 'POST',
      url: `{% url 'cart_delete' %}`,
      data:{
        product_id: producid,
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },
      success:function(json){
        location.reload()
        // window.location.href = "{% url 'home' %}"
      },
      error:function(xhr, errmsg, err){

      }
    })
  })
// Update button
  $(document).on('click', '.update-button', function(e){
    e.preventDefault();
    let producid = $(this).data('index')
    $.ajax({
      type: 'POST',
      url: `{% url 'cart_update' %}`,
      data:{
        product_id: producid,
        product_qty: $('#number'+producid).val(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },
      success:function(json){
        location.reload()
        // window.location.href = "{% url 'home' %}"
      },
      error:function(xhr, errmsg, err){

      }
    })
  })

    </script>

{% endblock %}